html, body{
	height: 100%;
	min-width: 890px;
}
body {
	/*display: grid;*/
	display: flex;
	flex-direction: column;
	justify-items: center;
	justify-content: space-between;
	touch-action: manipulation;
	align-items: center;
	margin: 0px;
	min-width: 890px;
}
footer {
    text-align: center;
    color: #999;
    font-size: 11px;
    /* height: 100px; */
    position: relative;
    bottom: 0;
    margin-top: 3em;
    padding: 10px;
    /* color: #8a8c8f; */
    /* border-top: 1px solid #dee5e7; */
    /* background-color: #f2f2f2; */
    width: 100%;
    box-sizing: border-box;
}
footer span{
    color: #b7b7b7;
}
#main {
    width: 100%;
    max-width: calc(240px* 6 + 35px);
    text-align: center;
    margin-top: 110px;
    flex:1;
}
.img-area {
    image-rendering: pixelated;
    height: 94px;
    text-align: center;
    cursor: url(../image/mouse_click.png) 13.5 0, auto;
    display: inline-block;
    width: 70%;
    min-width: 150px;
}
.api-img {
    image-rendering: pixelated;
	height: 94px;
    height: 94px;
}
.item, .channel-info.new-colorSet {
    width: calc(100% - 6px);
    min-width: 235px;
    border: 1px solid #e1e1e1;
    vertical-align: top;
    text-align: center;
    margin-bottom: 4px;
	position: relative;
   	padding-top: 10px;
   	max-width:300px;
}
.color_rect {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0px 8px;
    border: 1px solid #999;
    border-radius: 3px;
}
label {
	display: inline-block;
	line-height: 15px;
	vertical-align: top;
	font-size: 14px;
	/* line-height: 12px; */
}
label.hex {
	width: calc(50% - 40px);
    margin-right: 5px;
    min-width:58px;
}
label.rgb {
	width: calc(50% - 20px);
    float: right;
    text-align: left;
    text-decoration: inherit;
}
/*
div {
    text-align: left;
    width: 90%;
    display: inline-block;
}
*/
.color-info{
	margin-bottom: 0.5em;
	width: 90%;
	display: inline-block;
	/* display: flex; */
	/* text-align: center; */
	/* justify-items: center; */
	/* justify-content: center; */
	/* flex-direction: column; */
	/* align-items: center; */
	/* align-content: space-around; */
}

p {
    margin: 0px;
}

#loadingOverlay p {
    margin: 2px;
    text-align: left;
    display: flex;
    justify-content: space-evenly;
}

.item p {
	margin: 2px;
    text-align: left;
    display: flex;
    max-width: 250px;
    justify-content: space-evenly;
    flex-direction: row;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0px);
    align-items: center;
}

h2.area-capture{
	text-align: left;
}
.area-capture{
	margin-bottom: 10px;
}
.item_nm {
	margin-bottom: 7px;
	display: block;
	cursor: pointer;
}

#srchForm {
    text-align: center;
    width: calc(100% - 20px);
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    background: #fff;
    top: 0;
    padding: 10px 10px;
    box-shadow: 0 3px 6px 0px #b3b3b3;
    height: 80px;
    z-index: 2;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    /* min-width: 870px; */
}
#wid{
    width: 100%;
    max-width: 1475px;
    position: relative;
    text-align: right;
    /* font-family: 'Noto Sans KR'; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 7px;
}
/*
#resetTime {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translate(0%, -50%);
}
*/
#resetTime #time {
	border: 0px;
	width: 150px;
	background: transparent;
}
#loading {
    width: 100%;
    /*text-align: center;*/
    font-family: 'Noto Sans KR';
}

select {
    border-color: #cccccc;
    border-radius: 3px;
    padding: 5.5px 5px;
    font-size: 15pt;
    background: #fff;
}
#tables {
	width:100%;
	position: relative;
}
h2{
    margin: 0px;
    margin-top: 20px;
}
div#tables.filtering.vertical {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}
.filtering.vertical h2.area-capture{
	text-align: center;
}
.container{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    justify-items: center;
}
.img {
	height: 60%;
}
button {
    padding: 7px;
    font-size: 1em;
    vertical-align: bottom;
    border: 1px solid #38416f;
    background: rgb(83 103 134);
    color: #fff;
    font-weight: normal;
    border-radius: 5px;
    cursor: pointer;
    --background: #536786;
    --shadow: 0 2px 3px -1px rgb(21 25 36 / 18%);
    --shadow-hover: 0 4px 20px -2px rgba(21, 25, 36, 0.5);
    --text: #fff;
    padding: 8px 8px;
    /* font-family: "Roboto"; */
    /* font-weight: 500; */
    line-height: var(--font-size);
    border-radius: 7px;
    /* display: block; */
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    text-decoration: none;
    font-size: var(--font-size);
    /* letter-spacing: 0.5px; */
    background: var(--background);
    color: var(--text);
    box-shadow: var(--shadow);
    transform: translateY(var(--y)) translateZ(0);
    transition: transform var(--duration) ease, box-shadow var(--duration) ease;
    font-family: 'Wanted Sans Variable';
    font-size: 12.5pt;
    /* margin-right: 5px; */
}
button:hover, button:active {
    background: rgb(59 76 103);
    transform: translateY(1px);
    box-shadow: none;
}
.mabibase-img{
	position: relative;
    bottom: 0.35em;
}
#top-info{
	width: 100%;
	max-width: 1475px;
	position: relative;
	text-align: right;
	margin-bottom: 10px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	flex-direction: row;
	gap: 7px;
}
#apiKey{
	padding: 7px 5px;
	font-size: 13pt;
	/*width: 10%;*/
	width: 80px;
	text-align: left;
	color: #888;
	/* margin-right: 5px; */
	cursor: pointer;
	outline: none;
	border: 1px solid #ccc;
	border-radius: 3px;
	/* margin-left: 7px; */
}
button.btnSearch {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    width: 20px;
    height: 20px;
    display:none;
}
.location_nm{
    margin: 10px 0px 0px;
}
.location_nm.hidden{
	display:none;
}
.channel-info p {
    text-align: left;
    display: block;
    margin-top: 7px;
}
label.info-jumoney-name:before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 5px;
    display: inline-block;
    background: #636363;
    margin: 3px;
}
label.info-jumoney-name {
    display: block;
}
span.info-channel {
    /*margin-left: 11px;*/
    margin-left: 3px;
    font-size: 10pt;
}
span.info-channel.all-server{
	display: block;
	text-indent: -1.3em;
	padding-left: 2em;
	color: #8e8e8e;
}
.all-server strong {
    color: #222;
    font-weight: 500;
    text-shadow: 0px 0px 0px #686868;
    font-size: 11pt;
}
.channel-info h4 {
    margin-bottom: 3px;
    margin-top: 8px;
    text-align: center;
    font-size: 11pt;
    cursor: pointer;
    /* font-family: 'Noto Sans Kr'; */
    transform: skew(-0.1deg);
    color: #333;
    font-size: 14px;
    position: relative;
    left: -5px;
}
.item.nomatch-addItem {
   /*padding: 50% 0px;*/
}

.server-mark{
	width: 15px;
	height: 15px;
	background-size: 15px 13px;
	background-repeat: no-repeat;
	vertical-align: middle;
	opacity: 0.6;
	margin-right: 4px;
}
.server-mark.울프{
	background-image: url("../image/wf.png");
}
.server-mark.류트{
	background-image: url("../image/lt.png");
}
.server-mark.하프{
	background-image: url("../image/hp.png");
}
.server-mark.만돌린{
	background-image: url("../image/md.png");
}
.server-mark.통합{
	background-image: url("../image/al.png");
}
.modal.close{
	display:none;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 검정 */
    display: none; /* 기본 상태는 숨김 */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* 최상단에 표시 */
}

/* ëª¨ë‹¬ ì°½ ìŠ¤íƒ€ì¼ */
.modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 80%;
    text-align: center;
}
.channel-info{
	padding-bottom: 7px;
    width:90%;
    display: inline-block;
}
.location-area{
	width: 100%;
	display: flex;
	flex-direction: column;
}
#time-area{
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 100%;
	max-width: 1475px;
	left: 50%;
	transform: translate(-50%, 0%);
	padding-left: 1em;
	text-align: left;
	font-family: 'Noto Sans KR';
}
p.set-info {
    margin: 0px;
}
span.setComplete {
	font-size: 9pt;
	background: #ddd;
	border-radius: 20px;
	padding: 2px 7px;
	cursor: pointer;
	min-width: fit-content;
	/* width: 45px; */
}
.set-info .server-mark {
    margin: 0;
    opacity: 0.5;
}
.set-info .server-mark:not(.í†µí•©) {
	cursor: pointer;
}
#tables .set-info .server-mark:not(.í†µí•©):hover, .set-info .server-mark.active {
    opacity: 1;
}

/* 로딩 오버레이 스타일 */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 68%); /* ë°˜íˆ¬ëª… ë°°ê²½ */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  flex-direction: column;
}

.hidden {
  display: none;
}
.spinner {
  border: 8px solid rgba(255, 255, 255, 0.3);
  border-top: 8px solid #fff;
  border-radius: 50%;
  width: 60px;
  /* display: block; */
  height: 60px;
  animation: spin 1s linear infinite;
}
#loadingOverlay p {
    color: #f3f3f3;
    text-align: center;
    flex-direction: column;
}
#completeCnt{
	padding-left: 5px;
}

/* 스피너 애니메이션 */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

span.setComplete.active, #tables span.setComplete:hover {
    background: #536786bf;
    color: #fff;
}
button#loadingClose {
    padding: 3px;
    font-size: 13pt;
}
label.new_nt {
    color: red;
    font-size: 10px;
    margin-right: 5px;
    position: absolute;
    left: 15px;
    /* top: 16px; */
}
#loading ul {
    width: 70%;
    text-align: left;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    list-style: none;
    font-size: 0.9em;
}
span#loadingClose:hover {
    color: #ffea5d;
}
span#loadingClose {
    cursor: pointer;
    text-decoration: underline;
}

.srchBtn{
	display: inline-block;
	position: relative;
	width: fit-content;
	height: 37px;
	border-right: 1px solid #cccccc;
	padding-right: 7px;
    white-space: nowrap;
}

.item .icon{
	position: absolute;
    right: 0.3em;
    top: 0.3em;
    padding: 3px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #999;
    cursor: pointer;
}
.item .icon.icon-left{
    left: 0.3em;
    right: unset;
    display:none;
}
.item .icon:hover {
    background: #f0f0f0;
}

.modal-open {
	/*right: 2.1em;*/
}
.qCode-copy{
	display:none;
}

#itemModal.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* ëª¨ë‹¬ ì»¨í…ì¸  */
#itemModal .modal-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: white;
    padding: 35px 15px 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 55%;
    position: relative;
    overflow-y: visible;
    overflow-x: hidden;
    max-height: calc(100vh - 70px);
}

/* ëª¨ë‹¬ í—¤ë” */
#itemModal .modal-header {
    text-align: center;
}

/* ëª¨ë‹¬ ë°”ë”” */
#itemModal .modal-body {
    display: flex;
    /*gap: 20px;*/
}
#itemModal div{
	width: 100%;
}
/* ì™¼ìª½ ë ˆì´ì•„ì›ƒ: ì´ë¯¸ì§€ì™€ ìƒ‰ìƒ ì •ë³´ */
#itemModal .left-layout {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 50%;
    align-items: center;
    position: relative;
    /* top: -29px; */
}

#itemModal .left-layout h3 {
	text-align: center;
	margin: 0px;
	padding-left: 4px;
	font-size: 17pt;
	position: relative;
	top: -5px;
	margin-top: 10px;
} 

#itemModal .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-end;
    gap: 10px;
}

/* ì´ë¯¸ì§€ í™•ëŒ€/ì¶•ì†Œ ê¸°ëŠ¥ */
#itemModal .zoomable-image {
    max-width: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
    image-rendering: pixelated;
}

#itemModal .zoomable-image.zoom {
    transform: scale(2);
    cursor: zoom-out;
}

/* ì˜¤ë¥¸ìª½ ë ˆì´ì•„ì›ƒ: ì„¸íŠ¸ ì •ë³´ì™€ ì±„ë„ ì •ë³´ */
#itemModal .right-layout {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: calc(50% - 20px);
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0px 10px;
    position: relative;
}

/* ìƒ‰ìƒ ì •ë³´ */
#itemModal .color-info {
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px;
    white-space: nowrap;
    gap: 3px;
}

#itemModal .color-info .hex, #itemModal .color-info .rgb {
    width: 70px;
    min-width: 58px;
    flex-direction: column;
    display: inline-block;
}

#itemModal .color-info .rgb{
   /* padding-left: 1.5em; */
   white-space: nowrap;
   min-width: 85px;
   width: 95px;
}

#itemModal #closeModal {
    text-align: center;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    line-height: 18px;
    position: relative;
    top: -1.55em;
    cursor: pointer;
}
.image-copy-container{
  	height: 144px;
    display: flex;
    width: 144px;
    align-items: center;
}
/* ë³µì œëœ ì´ë¯¸ì§€ê°€ ê¹¨ì§€ì§€ ì•Šë„ë¡ ì²˜ë¦¬ */
.zoomable-image-copy {
    width: auto;
    height: auto;
    transform: scale(3); /* 3ë°° í™•ëŒ€ */
    image-rendering: pixelated; /* í”½ì…€ ì´ë¯¸ì§€ ê¹¨ì§ ë°©ì§€ */
    image-rendering: -moz-crisp-edges; /* Firefox ì§€ì› */
    display: block;
    margin: 0 auto; /* ê°€ìš´ë° ì •ë ¬ */
}
#itemModal .image-list-sample{
    width: 15.1em;
    /* width: 70%; */
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    padding-bottom: 7px;
}
.default_jumoney{
	-webkit-filter: grayscale(100%); /* í¬ë¡¬, ì‚¬íŒŒë¦¬ êµ¬í˜• */
  	filter: grayscale(100%);	
    opacity: 0.35;
}

#itemModal .image-container2 {
    position: relative;
    width: 48px;
    height: 48px;
    display: inline-block;
    overflow: hidden;
    /* background: #e3e3e3; */
}

#curDate{
    position: absolute;
    bottom: -16px;
    right: 0px;
    font-size: 10px;
    color: #555;
    padding-bottom: 0.3em;
    white-space: nowrap;
    font-family: 'Wanted Sans Variable';
    font-size: 12px;
    line-height: 7px;
}

#itemModal .loading-spinner, .loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top-color: #c2c2c2;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 25%;
    left: 20%;
} 
 
 #itemModal .image-list-sample img {
   object-fit: none; /* ë¹„ìœ¨ ìœ ì§€ */
   top: 0px;
   height: auto;
 }


.loaded .loading-spinner {
   display: none; /* ë¡œë”© ì™„ë£Œ í›„ ìŠ¤í”¼ë„ˆ ìˆ¨ê¹€ */
 }
 
 
.hidden {
  display: none; /* ì´ë¯¸ì§€ ë¡œë“œ ì „ ìˆ¨ê¹€ */
}

/*
#itemModal .setComplete, #itemModal .server-mark, #itemModal h4{
	cursor: default;
}
*/
#modalTime {
	text-align: left;
    position: absolute;
    top: -28px;
    left: 0px;
}

label.timeTitle {
    font-size: 9pt;
    background: #ddd;
    border-radius: 20px;
    padding: 2px 5px;
    white-space: nowrap;
}

.set-time{
    font-size: 9pt;
    line-height: 19px;
    /* padding: 0px 4px 4px; */
    vertical-align: super;
    padding: 0px 7px 0px 5px;
}

.info-jumoney-name .color_rect {
	width: 10px;
	height: 10px;
	cursor:pointer;
}

#modal-realTime {
	opacity: 1;
    transition: color 0.2s ease, opacity 0.2s ease;
}

#modalTime{
	width: 100%;
}

/* í™”ë©´ ë„ˆë¹„ê°€ 1350px ë¯¸ë§Œì¼ ë•Œ í˜„ìž¬ ì‹œê°„ ìˆ¨ê¸°ê¸° */
@media (max-width: 1340px), (max-height: 730px ) and (max-width: 1370px) {
    #modal-realTime {
    	opacity: 0;
    	height: 0;
    	color: transparent;
    	transform: translateY(-10px); /* ìœ„ë¡œ ìŠ¬ë¼ì´ë“œ */
    }
    #modalTime{
    	width:400px !important;    	
		/*animation: reset-width 0.5s ease forwards;*/
    }
}

/* ì• ë‹ˆë©”ì´ì…˜ìœ¼ë¡œ ìµœì¢… CSS ìƒíƒœ ì„¤ì • */
@keyframes reset-width {
    to {
        width: 100% !important; /* ì• ë‹ˆë©”ì´ì…˜ ì¢…ë£Œ í›„ ìƒ‰ìƒ ë³€ê²½ */
    }
}

#tables .hidden_rect {
	display: none;
}
#itemModal .info-jumoney-name:before{
	content: none;
}
#itemModal .info-jumoney-name .color_rect {
    float: left;
    margin: 0px 0px 0px 0px;
    height: 10px;
    width: 10px;
    border-radius: 6px;
    margin-top: 2px;
    position: relative;
    left: -3px;
}

.tooltip {
    display: none; /* ê¸°ë³¸ì ìœ¼ë¡œ ìˆ¨ê¸°ê¸° */
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    z-index: 10;
}

/* íˆ´íŒ ìŠ¤íƒ€ì¼ */
#itemModal .info-jumoney-name .color_rect::after {
    content: attr(alt); /* alt ì†ì„± ê°’ í‘œì‹œ */
    position: absolute;
    bottom: 110%; /* ìš”ì†Œ ìœ„ì— í‘œì‹œ */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
    font-size: 12px;
    z-index: 10000;
}

/* ë§ˆìš°ìŠ¤ ì˜¤ë²„ ì‹œ íˆ´íŒ í‘œì‹œ */
#itemModal .info-jumoney-name .color_rect:hover::after {
    opacity: 1;
}

.img-area .loading-spinner {
    left: calc(50% - 10px);
    top: 20%;    
}

.modal-icon {
    position: relative;
    top: -1.45em;
    padding: 2.5px;
    width: 16px;
    height: 16px;
    left: 0px;
    text-align: center;
    font-size: 12pt;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #5e5e5e;
    cursor: pointer;
    float: left;
    margin-right: 6px;
}
.modal-icon:hover, #closeModal:hover {
    background: #f0f0f0;
}

#modal-btns{
    text-align: right;
}
/* ê¸°ë³¸ ë¼ë²¨ ìŠ¤íƒ€ì¼ */
.checkLabel {	
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    /* margin-right: 5px; */
    height: 37px;
}
/* ì²´í¬ë°•ìŠ¤ ìˆ¨ê¹€ */
input[type="checkbox"] {
	display: none;
}

/* ì²´í¬ë°•ìŠ¤ ë””ìžì¸ */
.checkmark {
    width: 20px;
    height: 20px;
    background-color: #fbfbfb;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    position: relative;
    transition: background-color 0.3s, box-shadow 0.3s;
}

/* ì²´í¬ ìƒíƒœì¼ ë•Œ ìŠ¤íƒ€ì¼ */
input[type="checkbox"]:checked+.checkmark {
	background-color: #7688b1;
	box-shadow: 0 0 1px rgb(60 66 71 / 70%);
}

/* ì²´í¬ í‘œì‹œ */
.checkmark::after {
	content: "";
	position: absolute;
	top: 2px;
	left: 6px;
	width: 5px;
	height: 11px;
	border: solid white;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
	opacity: 0;
	transition: opacity 0.2s;
}

/* ì²´í¬ ìƒíƒœì¼ ë•Œ ì²´í¬ í‘œì‹œ ë‚˜íƒ€ë‚¨ */
input[type="checkbox"]:checked+.checkmark::after {
	opacity: 1;
}

/* ì„ íƒ ê°€ëŠ¥ ì—¬ë¶€ì— ë”°ë¼ ì»¤ì„œ ë³€ê²½ */
input[type="checkbox"]:disabled+.checkmark {
	background-color: #555;
	cursor: not-allowed;
}

#modalItemColors{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	/* width: 60%; */
	/* min-width: 400px; */
}
.channel-view{
	display: none;
}
.channel-view.view{
	display: block;
}
.image-container2 img:not(.default_jumoney) {
    cursor: pointer;
}

.ico-view{
    position: absolute;
    font-size: 10px;
    color: #717171;
    line-height: 18px;
    padding-left: 5px;
}

.ico-up-triangle:before {
    content: "\25B2";
}

.ico-down-triangle:before {
    content: "\25BC";
}
hr.set-divider {
    border: none;
    border-top: 1px solid #dbdbdb;
}

.sets-area{
    /* float: left; */
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(0, 1fr)); */
    justify-content: start;
}
.set-info {
    /* display: flex; */
    display: inline-block;
    text-align: left;
    /* margin-right: 10px; */
    /* flex-direction: row; */
    /* margin-top: 1px; */
    /* align-items: center; */
    /* justify-content: flex-start; */
}

#itemModal .sets-area{
    /* float: left; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, auto));
    /* max-width: 100px; */
    justify-content: start;
    gap: 12px;
}
#itemModal .set-info {
    display: flex;
    text-align: left;
    flex-direction: column;
    max-width: 130px;
    font-size: 14px;
    justify-content: flex-start;
}
itemModal .set-by-server{	
    font-size: 13px;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    line-height: 11px;
    display: inline-block;
}

#itemModal span.setComplete {
    margin-bottom: 2px;
    text-align: center;
    min-width: 50px;
    width: 60px;
}
#tables .server-set-channel{
	display:none;
}
#tables .sets-area {
	display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#tables .set-info {
    display: inline-block;
}
.set-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.container.filter-color {
    grid-template-columns: repeat(auto-fit, minmax(240px, 270px));
}
.location-area.filters {
    display: flex;
    width: fit-content;
}
.filtering .container {
	grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
	row-gap: 10px;
}
.filtering.vertical .container{
	/*row-gap: 10px;*/
}
#tables {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0px 5px;
	box-sizing: border-box;
}

.hide-show-srch {
    /* background: #ffff; */
    padding: 10px;
    /*
    position: fixed;    
    top: 102px;
    right: 0px;
    */
    /*box-shadow: 0px 1px 5px #8f8f8f;*/
    width: 100%;
    max-width: calc(240px* 6 + 35px);
    z-index: 1000000000;
    display: flex;
    /* flex-direction: column; */
    box-sizing: border-box;
}


/* topì´ 0ì´ ë˜ê³  z-indexê°€ -1ì´ ë˜ë„ë¡ ì„¤ì • */

.hide-show-srch.hidden2 {
	/*
  z-index: -1;
  transform: translateY(-102px);
  */
}


/* ì• ë‹ˆë©”ì´ì…˜ ì •ì˜ */
@keyframes hideShowSearchAnimation {
  0% {
    top: 102px;
    z-index: -1;
  }
  100% {
    top: 0;
    z-index: -1;
  }
}
#modalItemColors .color-info p {
    display: flex;
    flex-direction: row;
    /* gap: 3px; */
}

#itemModal .info-jumoney-name .color_rect.show:after {
    opacity: 1;
}

#previewModal {
    display: none;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 20%);
    align-items: center;
    z-index: 1000;
    justify-content: center;
    box-shadow: none;
    max-width: none;
    padding: 0px;
}

#previewModal .modal-content{
	background: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    padding: 35px 15px 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 830px;
    width: 55%;
    position: relative;
    overflow-y: visible;
    overflow-x: hidden;
    max-height: calc(100vh - 70px);
}
#previewModal img{
	width: 100%;
    height: auto;
    border: 1px dashed #a9a9a9;
    border-radius: 5px;
    cursor: url(../image/png-light-ico.png) 0 0, auto;
}
#closePreviewModal{
	position: absolute;
    top: 5px;
    right: 13px;
    cursor: pointer;
}

.filter input[type=text], .filter input[type=number]{
    padding: 9px 3px 5px;
    font-size: 13pt;
    width: 45px;
    text-align: center;
    color: #454545;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 11pt;
}
.filter-set-index:invalid ~ .label-title {
	color:#cc4d4d;
}
.filter input[type=text].filter-set-index:invalid {
	border: 1px solid #cc4d4d;
}
.label-title{
    color: #8d8d8d;
    position: absolute;
    top: -8px;
    left: 8px;
    background: #ffffff;
    padding: 0 3px;
    transition: .3s;
    font-size: 14px;
}
.label-title.center{
	left: 50%;
    width: max-content;
    transform: translateX(-50%);
}
.filter-input, .filter-select {
    position: relative;
    width:fit-content;
}
.simple .filter-input{	
    display:inline-block;
}
.filter-input .input-text:valid ~ .label-title {
    top: -8px;
    padding: 0 3px;
    font-size: 14px;
    color: #7d7d7d;
}
.filter-input .input-text:focus {
    border: 1px solid #4d79bd !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px inset, rgba(82, 168, 236, 0.3) 0px 0px 3px;
}

.filter-input .input-text:focus ~ .label-title {
    top: -8px;
    padding: 0 3px;
    font-size: 14px;
    color: #4d79bd;    
}
.detail .colorFilter{
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 130px;
	/* width: 100%; */
}
.filter-name-toggle{
    border: 0px;
    height: 0px;
    color: transparent;
    padding: 0px;
    margin: 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    display:none;
}
.item input:valid + .filter-name{
	display:inline-block !important;
	position: absolute;
	top: -8px;
	width: fit-content;
	padding: 0px 5px;
	background: #fff;
	left: 10px;
	color: #202020;
	font-family: 'Wanted Sans Variable';
	font-size: 16px;
	max-width: 198px;
	/* text-overflow: clip; */
	box-sizing: border-box;
	/* white-space: nowrap; */
	overflow-x: auto;
	-ms-overflow-style: none;
	color: #133da3;
}
.item input:valid + .filter-name::-webkit-scrollbar {
    display: none;
}

.filtering-color{
	background: #e3ebf9;
    text-decoration: underline;
    font-weight: bold;
    color: #0001e6;
}

.filter-type{
    font-family: 'Wanted Sans Variable';
    font-size: 16px;
    padding: 6px 5px;
    width: 128px;    
}
select:focus {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px inset, rgba(82, 168, 236, 0.3) 0px 0px 3px;    
    outline-color: #4d79bd;
    outline-width: 1px;
    outline-style: solid;
    outline-offset: -1px;
}
.filter input.filter-name{
	font-family: 'Wanted Sans Variable';
    font-size: 16px;
    width: 120px;
}
.filter-input.name{
    font-family: 'Wanted Sans Variable';
    font-size: 16px;
}

.filter-input.name .label-title{
    font-size: 14px;
    left: 10px;
}

.filter-input.name .filter-name{
	padding: 10px 3px 5px 3px;
	color: #333;
}
.flex-simple-row{
	display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
}
.simple .colorFilter{
    gap: 5px;
}
#filterForm{
    position: relative;
    left: 0;
    width: calc(100% - 20px);
    /*transition: top 0.3s ease;*/
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    height: fit-content;
    max-width: 1475px;
    padding: 5px 10px;
    top: 110px;
    /*transition: height 0.3s, top 0.3s;*/
}

.simple input.set-color{
	width:120px;
	border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
#filterForm select{
	font-family: 'Wanted Sans Variable';
	font-size: 15px;
	font-weight: normal;
	padding: 6.5px;
	background: #fff;
}

.simple input.filter-name{
	width:80px;
}
.wrapper {
  width: 55px;
  height: 30px;
  text-align: center;
  /* margin: 50px auto; */
  display: flex;
  align-items: center;
}
.switch {
  position: absolute;
  /* hidden */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.switch_label {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  height: 20px;
  background: #ffffff;
  /* border: 2px solid #a4a4a4; */
  padding: 1px 0px 2px 0px;
  border-radius: 20px;
  transition: 0.2s;
  background: #b5b5b5;
  box-shadow: 0px 0px 4px #a4a4a4 inset;
}
.switch_label:hover {
  background: #999999;
}
.onf_btn {
  position: absolute;
  top: 4px;
  left: 4px;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 20px;
  z-index: 2;
  background: #ffffff;
  transition: 0.2s;
  box-shadow: 0px 0px 2px #9b9b9b;
}

.wrapper.wid65{
	width:65px
}
/* checking style */
.switch:checked+.switch_label {
  background: #7688b1;
  /* border: 2px solid #595c79; */
}

.switch:checked+.switch_label:hover {
  background: #667391;
}

/* move */
.switch:checked+.switch_label .onf_btn {
  left: calc(100% - 19px);
  background: #fff;
  box-shadow: 1px 2px 3px #00000020;
}

.switch-state{
	line-height: 20px;
	color: #fff;
	position: absolute;
	left: 24px;
	font-size: 13px;
	pointer-events: none;
	z-index: 1;
    transition: all .2s ease-in-out .1s;
    overflow: hidden;
}
.switch-off{
    left: 24px;
    opacity: 1;
}
.switch-on{
    left: -8px;
    opacity: 0;
}
.switch:checked+.switch_label .switch-on{
    left: 9px;
    opacity: 1;
}
.switch:checked+.switch_label .switch-off{
    left: 30px;
    opacity: 0;
}
.filter-color-rect{
    width: 35px;
    height: 33px;
    display: inline-block;
    border-radius: 3px;
    background: transparent;
    border: 1px solid #cccccc;
    border-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.filter-color-info, .flex-row{
	display:flex;
	flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.color-gradient {
    border: 1px solid #cccccc;
    border-radius: 3px;
    height: 15px;
    /* margin-left: 10px; */
    width: 128px;
    /*background: linear-gradient(to right, rgb(235 215 211), rgb(255 225 223));*/
    background: transparent;
}
.detail select.set-logical{
    height: 25px;
    padding: 1px 6px !important;
    margin-left: 5px;
}

.hide-show-srch.detail{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    row-gap: 20px;
    column-gap: 30px;
    max-width: 100%;
     /* 가로 스크롤 제거 */
    box-sizing: border-box;
    justify-content: start;
    /*justify-items: center;*/
}
.hide-show-srch.simple{
	flex-direction: column;
    gap: 10px;
}
#modal-haveTime .set-time{
    color: #487bdd;
    font-weight: bold;
}
#filterForm.hidden {
    max-height: 0; /* 접었을 때 높이 0으로 설정 */
    padding: 0; /* 패딩 제거로 깔끔하게 */
    overflow: hidden; /* 기본값은 숨김 */
    top: -20px;
}

#filterForm.open {
    max-height: 300px; /* 최대 높이 설정 */
    overflow: auto; /* 펼친 상태에서는 스크롤 활성화 */
}

#detail-color{
	display: flex;
    gap: 10px;
    flex-direction: column;
    width: fit-content;
}
.sub-btn{
    font-size: 14px;
    background: #ffffff;
    border: 2px solid #7386a3;
    box-sizing: border-box;
    color: #536786;
}

.sub-btn:hover{
	color: #fff;
    border-color: rgb(59 76 103);
}
.removeBtn {
    /*background: #973636;*/
    background: rgb(161 90 90 / 84%);
    padding: 3px 10px;
    font-size: 14px;
    border-radius: 3px;
}
.removeBtn:hover {
    background: #812a2a;
}

#filter-top{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
    padding-left:10px;
}

.filter-option {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 7px;
    /* padding-right: 8px; */
    box-sizing: border-box;
    /* padding: 0px 10px; */
    /* position: fixed; */
}
.filter-option.space-between{
	justify-content: space-between;
}
.filter-option .label{
    font-family: 'Wanted Sans Variable';
    font-size: 16px;
    color: #2d2d2d;
}
.filter-input-padding{
	padding: 12px 3px 5px 3px !important;
	/* font-size: 16px; */
	text-align: center;
}
.flex-simple-row .filter-set{
	width:100%;
}
#optionBtn{
	width:95px;
}
.detail .filter-select{
    width: calc(100% - 60px);
}
.filter-select select{
    padding: 8px 3px 4px 3px !important;
    text-align: center;
    height: 35px;
    box-sizing: border-box;
    font-weight: normal;
    font-family: '';
    font-size: 14px;
    color: #454545;
}
#results{
	font-family: 'Wanted Sans Variable';
    font-size: 20px;
}

.simplify .show-simple{
	display:none !important;
}

.detail .filter-set {
	width:100%;
}

#filterAlign {
	cursor:pointer;
}
.gap5{
	gap:5px;
}


button#topBtn::after {
    content: "";
    position: absolute;
    top: 14px;
    left: 50%;
    transform: translateX(-50%);
    width: 6px;
    height: 13px;
    background: #fff;
    border-radius: 2px;
}

button#topBtn::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 10px solid #ffffff;
    border-radius: 3px;
}
button#topBtn {
    position: relative;
    width: 35px;
    height: 35px;
}
.default-text{
    color: #333;
    font-family: 'Wanted Sans Variable';
    font-size: 14px;
    line-height: 14px;
}

/* select 기본 스타일 */
/* 툴팁 스타일 */
.jsTooltip{
    position: absolute;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    white-space: nowrap;
    z-index: 1000;
    display: none; /* 기본적으로 숨김 */
    pointer-events: none; /* 툴팁 클릭 방지 */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.flex-col{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}
.flex-col:last-child {
    border-bottom: 1px solid rgb(221, 221, 221);
}
.flex-col.left{
	align-items: flex-start;
	gap:2px;
}
#modal-haveTime .timeTitle{
	background: #bbdcff;	
}

#filterForm[info=hide] .filterHide{
	display:none;
}